.quickorderForm .fancybox-content{
    background: #424866;
    color: #fff;
}

#quickorderpopup input + label {
    color: #000;
    
}
#quickorderpopup input.no-empty  + label , 
#quickorderpopup input:focus + label{
    background: transparent;
    color : #fff ;
}


.quickorderForm .fancybox-close-small svg path {
    fill: #ffffff;
}
.quickorderForm .fancybox-close-small svg:hover path {
    fill: red;
}
#quickorderpopup .header{
    color: #ffffff;
}