.compensate-for-scrollbar .container,
.compensate-for-scrollbar div#text {
    margin-right: 15px;
}
.compensate-for-scrollbar jdiv {
    display: none;
}



.quickorder{
    display:inline-block;
}
.mainblock .btn.btn-info.quickorder {
    /*width: 48%;*/

    /*margin: 0 0 0 5%;*/
}
@media only screen and (max-width: 1380px) {
    .mainblock .btn.btn-info.quickorder {
        /*width: 48%;*/
        /*border-radius: 0px;*/
        /*margin: 0 0 0 5%;*/
        /*font-size: 12px;*/
    }
}
.btn.btn-info.quickorder {
    background: #fff;
    border: 2px solid #f56212;
    border-radius: 0px;
    color: #f56212 ;
    opacity: 0.2;
    cursor: default;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    width: 99%;
    text-align: center;
    height: 30px;
}
.btn.btn-info.button_product.quickorder {
    width: 200px;
    height: 43px;
    line-height: 43px;
}
.quickorder-on .btn.btn-info.quickorder{
    opacity: 1;
    cursor: pointer;
}

.quickorder-ordered .btn.btn-info.quickorder{
    opacity: 1;
    border: 2px solid #afafaf;
    color: #afafaf;
}
@media only screen and (max-width: 600px){
    .btn.btn-info.quickorder {
        padding: 0 7px;
        margin-top: 5px;
        line-height: 29px;
        font-size: 15px;
        height: 30px;
        background: #ff8f23;
        color: #fff;
        border: none;
        border-radius: 4px;
        width: 100px;
    }
    .quickorder-ordered .btn.btn-info.quickorder{
        background: none;
        font-size: 12px;
        width: 97px;
        height: 26px;
        line-height: 25px;
    }
}

/* Страница товара */
@media only screen and (max-width: 600px){
    div#quickorder.quickorder-product {
        text-align: center;
        margin: -5px 0 0px 8px;
        float: left;
    }
    #quickorder.quickorder-product > span.btn.quickorder{
        width: 155px;
        height: 45px;
    }
}



















