.quickorderForm .fancybox-close-small svg path {
    transition: all .3s;
}

.quickorderForm #quickorderpopup {
    min-height: 400px;
}

div#quickorderpopup .product-image img {
    width: 120px;
}

div#quickorderpopup .productData {
    max-width: 250px;
}

#quickorderpopup > div {
    text-align: center;
}

#quickorderpopup .quickorderclose {
    float: right;
    font-weight: bold;
    margin: 0px 0px;
    color: #f16d1a;
    cursor: pointer;
}

#quickorderpopup a.close {
    padding: 10px;
    font-size: 200%;
}

.quickorderformrow > div {
    float: left;
    margin-top: 21px;
}

.quickorderformrow.control-group.submit .input-prepend {
    width: 100%;
    margin-top: 9px;
}

.quickorderformrow.control-group.submit .input-prepend .float-right {
    float: right;
    width: 50%;
    position: relative;
}

#quickorderpopup .quickorderformrow.control-group.submit .input-prepend .float-right button.disabled {
    background: #afafaf;
    cursor: default;
}

.quickorderformrow.control-group.submit .input-prepend .float-right button {
    margin-left: 58px;
}

.quickorder-footer {
    position: absolute;
    bottom: 9px;
    width: 100%;
    margin-left: -44px;
    border-top: 1px solid #ccc9;
}

#quickorderpopup .quickorderformrow.control-group.submit button.btn-info {
    font-size: 16px;
    border-radius: 0;
    background: #ff7800;
    height: 32px;
    line-height: 2px;
    padding: 10px;
    width: auto;
}

#quickorderpopup textarea {
    width: 250px;
    height: 100px;
}

#quickorderpopup .header {
    position: absolute;
    top: 9px;
    margin-left: -44px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    min-width: 100%;
}

#quickorderpopup .fielderror {
    background: rgba(255, 83, 83, 0.1);
}

.input-prepend {
    float: left;
    position: relative;
}

#quickorderpopup input {
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 5px;
    vertical-align: middle;
    color: #555;
    background-color: #fff;
    height: 40px;
    padding: 4px 6px;
    -moz-box-sizing: border-box !important;
    font-size: 13px;
    line-height: 18px;
    margin: 0px;
    min-width: 250px;
}

#quickorderpopup input + label {
    position: absolute;
    display: inherit;
    top: 12px;
    left: 7px;
    transition: all .4s;
    background: #fff;
}

#quickorderpopup input:focus + label {
    opacity: 1;
    top: -18px;
    font-size: 12px;
}

#quickorderpopup input.no-empty + label {
    top: -18px;
    font-size: 12px;
}

#quickorderpopup .wrapMaskPhone:after {
    top: 5px;
    right: 7px;
}

#quickorderpopup textarea {
    padding: 4px 6px;
    height: 110px;
    width: 95.4%;
    margin: 20px 10px 20px 8px;
    border-radius: 5px;
    float: left;
}

.order_accept.fancybox-content {
    text-align: center;
    font-size: 1.6em;
}


.input-prepend label {
    position: absolute;
    left: 8px;
    top: 11px;
    display: inherit;
    transition: all 0.5s;
    background: #fff;
    padding: 0 3px;
}


/*
Для мобильных устройств при появлении клавиатуры
*/
#quickorderpopup.fancybox-content.input-focus .product-image img {
    display: none;
}

#quickorderpopup.fancybox-content.input-focus .quickord_wrapper {
    min-height: auto;
}

#quickorderpopup.fancybox-content.input-focus {
    min-height: auto;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .order_accept.fancybox-content {
        font-size: 0.8em;
    }
    div#quickorderpopup .product-image img {
        width: 110px;
    }
}




































